@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-color: #0066FE;
    --bg-color-Dark: #161717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color-Dark);
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {
    font-size: 12px;
    display: grid;
    place-content: center;
    place-items: center;
    padding: 20px;
}

#Header_Title-Username  {
    color: var(--main-color);
}

#Principal_Part{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#title_container{
    display: flex;
    align-items: center;
    place-items: center;
    max-width: 700px;
    font-size: 35px;
}

#img_container{
    color: white;
    display: flex;
    justify-content: center;
}

#explicaton{
    max-width: 821px;
    margin: 0 auto;
    padding: 80px 0;
    font-size: 20px;
    line-height: 1.5;
}

.re_market{
    color: var(--main-color);
    font-weight: 800;
}