@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg-color-Dark: #161717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: var(--bg-color-Dark);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.greetingUser {
    text-align: right;
}
