@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-color: #0066FE;
    --bg-color-Dark: #161717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color-Dark);
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {
    font-size: 12px;
    display: grid;
    place-content: center;
    place-items: center;
    padding: 20px;
}

#Header_Title-Username  {
    color: var(--main-color);
}

#Principal_Title{
    display: grid;
    column-gap: 1fr 1fr;
}