@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg-color-Dark: #161717;
    --bg-input-color: #131313;
    --bg-input-border-color: #5D5D5D;
    --main-color: #0066FE;
    --main-color-fill: #001F3D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: var(--bg-color-Dark);
    display: grid;
    grid-template-columns: 1fr 1fr;

}

header {
    background-color: #141414;
    height: 100vh;
}

h1{
    font-size: 40px;
    padding: 40px;
    margin-bottom: 120px;
}

 #loginTitle{
    font-size: 30px;
    text-align: center;
}


.login_container > .login {
 
    padding: 50px;
    margin: 0 auto;
}

.login_container h3 {
    font-size: 30px;
}

 .loginForm input {
    padding: 10px;
    background-color: var(--bg-input-color);
    border: 1px solid var(--bg-input-border-color);
    border-radius: 5px;
    font-size: 25px;
    color: var(--bg-input-border-color);
}

.loginForm {
    display: grid;
    place-content: center;
    place-items: center;

}


.re-marked a {
    text-decoration: none;
    color: var(--main-color);
}

.re-marked {
    color: var(--main-color);
}

.button {
    margin: 25px;
    padding: 10px;
    background-color: var(--main-color-fill);
    border: 1px solid var(--main-color);
    font-size: 25px;
    width: 335px;
    border-radius: 5px;
    color: #0066FE;
    cursor: pointer;
}

.codeSection {
    padding: 50px;
    padding-top: 45px;
    font-size: 20px;
}

.CodeBlue {
    color: #306CBE;

}

.ClassColor {
    color: #4EC9B0;
}

.Yellow {
    color: #FFD700;
}

.Pink {
    color: #DA70C0;
}

.NewBlue {
    color: #7FCEE7;
}

.NewYellow {
    color: #DAD18C;
}

.OldBlue {
    color: #729DB4;
}

.NewBlue2 {
    color: #2BA2FF;
}

.Brown {
    color: #A9806F;
}

.NewPink {
    color: #C586C0;
}

.green {
    color: #008000;
}