@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg-color-Dark: #161717;
    --bg-input-color: #131313;
    --bg-input-border-color: #5D5D5D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: var(--bg-color-Dark);
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    font-size: 40px; 
}

header {
    background-color: black;
}

 .loginForm input {
    padding: 10px;
    background-color: var(--bg-input-color);
    border: 1px solid var(--bg-input-border-color);
    border-radius: 5px;
}

