@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg-color-Dark: #161717;
    --bg-input-color: #131313;
    --bg-input-border-color: #5D5D5D;
    --main-color: #0066FE;
    --main-color-fill: #001F3D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color-Dark);
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    border: 1px solid red;
    font-size: 80px;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

#Image_Container {
    display: flex;
    padding: 120px;
}
#Image_Container img {
    width: 160px;
}

#Title_Container {
    font-size: 50px;
    font-weight: 800;
    color: white;
    max-width: 740px;
}

#Title_Container em {
    font-size: 40px;
    font-weight: 100;
}

.re-marked {
    color: var(--main-color);
    font-weight: 500;
}

main {
    line-height: 1.5;
    margin: 0 auto;
    max-width: 990px;
}