@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg-color-Dark: #161717;
    --bg-input-color: #131313;
    --bg-input-border-color: #5D5D5D;
    --main-color: #0066FE;
    --main-color-fill: #001F3D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color-Dark);
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    font-size: 80px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}

#Image_Container {
    display: flex;
    padding: 120px;
}
#Image_Container img {
    width: 160px;
}

#Title_Container {
    font-size: 50px;
    font-weight: 800;
    color: white;
    max-width: 740px;
}

#Title_Container em {
    font-size: 40px;
    font-weight: 100;
}

.re-marked {
    color: var(--main-color);
    font-weight: 800;
}

main {
    line-height: 1.5;
    margin: 0 auto;
    max-width: 990px;
}

.code-container pre  code{
    border-radius: 5px;
    border-left: 12px solid #0f0f0f;
    background: #0c0c0c;
}

.hash {
    color: #0066FE;
    border: 1px solid #0066FE;
    background-color: #001F3D;
    padding: 5px;
    border-radius: 5px;
    margin: 0 12px;
}

.Blue {
    color: #0066FE;
    padding: 0 5px;
}

footer {
text-align: center;
padding: 20px;
}

.ancord {
    color: #0066FE;
    text-decoration: none;
}

.button {
    margin: 25px auto;
    padding: 10px;
    background-color: var(--main-color-fill);
    border: 1px solid var(--main-color);
    font-size: 25px;
    font-weight: 600;
    width: 335px;
    border-radius: 5px;
    color: #0066FE;
    cursor: pointer;
    display: grid;
}

.Ejemplo {
    background: #0c0c0c;
    margin: 20px 0 60px;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Ejemplo #userInfo {
    padding: 20px;
}

.Ejemplo #userOptions {
    padding: 20px;
}

.Ejemplo .atmButton {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    background-color: var(--main-color-fill);
    color: var(--main-color);
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.image {
    padding: 12px;
    text-align: center;
}

.image img {
    display: grid;
    margin:  auto;
}

.Specifications {
    padding: 20px;
}


.Ejemplo .InputMovil {
    padding: 20px;
}

.Ejemplo .InputMovil .EjemploInputs {
    outline: none;
    background-color: #001F3D;
    padding: 10px;
    font-size: 20px;
    color: #ffff;
    border: 1px solid #0066FE;
    border-radius: 5px;
}

.Ejemplo .ParqueBtn {
    width: 130px;
}

.ListOfCars {
    padding: 20px;
    border-left: 1px solid #0066FE;
}